* {
    padding: 0;
    margin: 0;
}
#wrap {
    margin: 0 auto;
    width: 1280px;
    height: 1080px;
}
#header {
    width: 100%;
    height: 100px;
    display: flex;
}
.logo {
    width: 200px;
    height: 100%;
    background-color: #EAE9EE;
}
.nav {
    width: 1080px;
    height: 100%;
    background-color: #C2C3D6;
}
#main {
    width: 100%;
    height: 880px;
    display: flex;
    
}
.main {
    width: 980px;
    height: 100%;
    
}
.top {
    width: 100%;
    height: 440px;
    display: flex;
}
.top-left {
    width: 250px;
    height: 440px;
    background-image: url(../img/layout08-1.png);
}
.top-right {
    width: 730px;
}
.top-right1 {
    width: 100%;
    height: 50%;
    background-image: url(../img/layout08-4.png);
}
.top-right2 {
    width: 100%;
    height: 50%;
    background-image: url(../img/layout08-2.png);
}
.bottom {
    width: 980px;
    height: 440px;
    background-image: url(../img/layout08-3.png);
}
#aside {
    width: 300px;
    height: 100%;
    background-image: url(../img/layout08-5.png);
}
#footer {
    width: 100%;
    height: 100px;
    display: flex;
}
.footer1, .footer3 {
    width: 200px;
    height: 100px;
    background-color: #3A258A;
}
.footer2 {
    width: 880px;
    height: 100px;
    background-color: #6469CD;
}


@media (max-width:680px) {
    #wrap {
        width: 100%;
        margin: 0 auto;
    }
    #header {
        display: block;
        position: relative;
    }

    .logo {
        width: 30%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav {
        width: 100%;
    }
    #main {
        display: block;
    }
    #main div {
        width: 100%;
    }
    .top {
        display: block;
    }
    #aside, .bottom{
        display: none;
    }
    .top-left {
        height: 440px;
        background-image: url(../img/layout08-3.png);
    }
    .top-right1 {
        height: 220px;
        background-image: url(../img/layout08-2.png);
    }
    .top-right2 {
        height: 220px;
        background-image: url(../img/layout08-4.png);
    }
    .footer1, .footer3 {
        width: 106px;
        height: 100px;
    }
    .footer2 {
        width: 468px;
        height: 100px;
    }
}

@media (max-width:450px) {
    #wrap {
        width: 450px;
        margin: 0 auto;
    }
    .logo {
        left: 100%;
        transform: translateX(-100%);
    }
    .top {
        display: flex;
    }
    .top-left {
        width: 220px;
        height: 440px;
        background-image: url(../img/layout08-1.png);
    }
    .top-right1 {
        width: 220px;
        height: 440px;
        background-image: url(../img/layout08-2.png);
    }
    .top-right2 {
        display: none;
    }
    .bottom {
        display: block;
        width: 450px;
        height: 220px;
        background-image: url(../img/layout08-4.png);
    }
    .main {
        height: 660px;
    }
    #aside {
        height: 220px;
        width: 450px;
        display: flex;
    }
    .aside1 {
        width: 225px;
        height: 220px;
        background-image: url(../img/layout08-3.png);
    }
    .aside2 {
        width: 50%;
        height: 220px;
        background-image: url(../img/layout08-5.png);
    }
    .footer1, .footer3 {
        display: none;
    }
    .footer2 {
        width: 450px;
        height: 100px;
    }
    
}
